<li>Have shaped a WordPress-as-a-service Docker-based platform that handles security, backup, monitoring, and performance analysis.</li>
<li>Supported web designers with AVADA, Elementor Pro, Thrive Themes, WooCommerce, and others WordPress plugins and themes, providing a technical-free solution.
<li>Started the company using the Lean Startup method and has launched 20+ websites hosted on Docker containers.</li>
<li>Integrated Shopify e-commerce platform and a low code iOS App, built on Red Foundry Studio, providing a complete delivery solution for restaurants.</li>
<li>When Apple released the iPhone 3GS, has created an iOS App and published it to Apple App Store using Objective-C.</li>
