<li>Coordinated the Blah app development, similar to WhatsApp but targeting other carriers' customers, our actual competitors. The project added 4,000 hours of cooperation with more than 35 different areas, from Legal to IT, and a multicultural development team.</li>
<li>Managed the design agency's activities, producing 1,400 layouts such as wireframes and prototypes.</li>
<li>Conducted several RFP processes with foreign suppliers; negotiated contracts worth 3.5MM USD in budget.</li>
<li>Achieved 95% of service cancelation efficiency with a KPI analysis platform developed with Excel VBA to receive 3,900 services' weekly data.</li>
