<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Strategy</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Development</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">MVP</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Agile Methodologies</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">New Business Development</span></li>