<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Owner</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Strategy</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Design</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Development</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Project Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">MVP</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Agile</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Scrum</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Design Thinking</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Google Play</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">TestFlight</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">App Annie</span></li>