<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Python</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Flask</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">WordPress</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Objective-C</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">SQL</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Google App Engine</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Apple Developer Program</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Git</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Hosting</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Docker</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Containers</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Cloudflare</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">AWS</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Azure</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Google Cloud</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Digital Marketing</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Launch Formula</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Click Funnels</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Stripe</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Bootstrap</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Low Code</span></li>