<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Software Development</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Cloud Computing</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Web Hosting</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">E-Commerce</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">SEO</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Digital Marketing</span></li>