<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Project Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">User Experience (UX)</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">PMBOK</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Jira</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Branding & Identity</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">VBA</span></li>