<p>I'm a Full Stack Software Engineer with one year of experience in Python and Flask and 20+ years in DevOps and Software Development. I am excited to combine my skills with my love of teaching and learning to create new digital businesses. I recently developed a Flask API backend with a React frontend where you can play a trivia game.</p>
<p>My last project is a Reac Calculator that you can play with on:</p>
<li>http://gmoo.com.br</li>
<br>
<p>I love applying my product management skills to bring a new website to life and help SMBs to grow their business.</p>
<br>
<p>Some examples of my results include the following:</p>
<li>https://clinicadaponte.com.br/ -> running since 2019</li>
<li>https://corpusskill.com.br/ -> running since 2019</li>
<p>I built those two websites, on WordPress, from scratch and created all the identity and branding in partnership with a web designer.</p>
<br>
<p>I get excited about opportunities where I can work with innovative people to create new web apps for the digital space.</p>
<br>