<p>Product Manager with MBA in Project Management and graduation in Computer Science. Developing Private Networks products in TIM S.A. to address technological challenges in Mission Critical Operations, Smart Lighting, Connected Cars, and others.</p>
<p>Try to adopt the Lean Startup and Scrum methods in all projects. The portfolio includes eSIM, NB-IoT, IoT platforms, Marketplace, Websites, and Mobile Apps.</p>
<p>A special mention to the Blah app, bringing together the most famous memes from YouTube in a wild musical chat. Its campaign had over 9M views, over 3M downloads, App of The Week on the Apple Store, and was twice the most downloaded app on Google Play.</p>
<p>Share the same passion for software as designers and developers, and eager to work with them on Moon shot projects.</p>
<p>Actually learning Python, Flask, and Jamstack.</p>
<br>